.container{
    display: flex;
    justify-content: space-around;
    background-image:url(./images/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.input{
    position: relative;
}
.dropdown-icon{
    position: absolute;
    right:0;
    width:20px;
    cursor: pointer;
}
.dropdown-list {
    position: absolute;
    top: 20px;
    width: 100px;
    /* display: none; */
}
/* .dropdown-list div{
    border:1px solid;
    border-collapse: collapse;
    padding: 5px;
} */
/* .toggle-outer{
    display: none;
} */